@charset "UTF-8";
:root {
  --primary-title-color: #ffffff;
  --secondary-title-color: #212121;
  --primary-text-color: #000000;
  --secondary-text-color: #757575;
  --third-text-color: #2196f3;
  --primary-background: #2f303a;
  --secondary-background: #f5f4fa;
  --third-background: #2196f3;
  --fourth-background: #20abfc;
  --main-background: #ffffff;
  --card-bgc: rgba(33, 150, 243, 0.9);
  --svg-bgn: #afb1b8;
  --card-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  --card-portfolio-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  background: var(--main-background);
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.list {
  list-style: none;
}

.link {
  display: flex;
  text-decoration: none;
}

.btn {
  border: none;
}

/* Шапка сайта*/
.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-list__item:not(:last-child) {
  margin-right: 50px;
}

.header-list__contacts-item:not(:last-child) {
  margin-right: 50px;
}

.header-list__link {
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--secondary-title-color);
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list__link:hover, .header-list__link:focus, .header-list__link:active {
  color: var(--third-text-color);
}

.header-list__link .link.current {
  color: var(--third-text-color);
}

.header-list__contacts-link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list__contacts-link:hover, .header-list__contacts-link:focus, .header-list__contacts-link:active {
  color: var(--third-text-color);
}

.header-list__mail-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.header-list__smartphone-icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.header__logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  color: var(--third-text-color);
}

.header__span {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  color: var(--primary-text-color);
}

.current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  display: block;
  bottom: -1px;
  background-color: var(--third-background);
}

/* Герой */
.hero {
  margin: auto;
  display: flex;
  height: 600px;
  max-width: 1600px;
  align-items: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bgn.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.hero__container {
  text-align: center;
}

.hero__btn {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  padding: 10px 31px;
  margin-top: 30px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  background-color: var(--third-background);
  color: var(--primary-title-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__btn:focus, .hero__btn:hover {
  box-shadow: var(--card-portfolio-shadow);
  background-color: #20abfc;
}

.hero__title {
  max-width: 696px;
  height: 120px;
  margin: 0 auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-title-color);
}

/*Преимущества */
.content {
  padding-top: 94px;
  padding-bottom: 94px;
}

.content__container {
  width: 1200px;
  margin: 0 auto;
}

.content-list__item-svg {
  display: flex;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-background);
}

.content-list__icon {
  width: 70px;
  height: 70px;
}

.content-list__item:not(:last-child) {
  margin-right: 30px;
}

.content-list {
  display: flex;
}

.content-list__text {
  width: 270px;
  height: 75px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.content-list__title {
  width: 270px;
  height: 16px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--secondary-title-color);
}

/*Чем занимаемся */
.job {
  padding-bottom: 94px;
}

.job__title {
  width: 376px;
  height: 42px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  color: var(--secondary-title-color);
}

.job-list {
  display: flex;
  margin-top: 50px;
}

.job-list__item {
  display: block;
  position: relative;
}

.job-list__item:not(:last-child) {
  margin-right: 30px;
}

.job-list__text {
  display: flex;
  width: 370px;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  justify-content: center;
  align-items: center;
}

/*Команда */
.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background: var(--secondary-background);
}

.team__title {
  width: 264px;
  height: 42px;
  margin: 0 auto;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  color: var(--secondary-title-color);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list__item {
  width: 44px;
  height: 44px;
}

.social-list__item + .social-list__item {
  margin-left: 10px;
}

.social-list__link {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: var(--svg-bgn);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: var(--third-background);
}

.social-list__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.social-list__link:hover .social-list__icon,
.social-list__link:focus .social-list__icon {
  fill: var(--main-background);
}

.team-list__item {
  flex-basis: calc(100% / 4 - 30px);
  border-radius: 4px;
  box-shadow: var(--card-portfolio-shadow);
  margin-right: 30px;
  background-color: var(--main-background);
}

.card-content-team {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}

.card-content-team__subtitle {
  margin-bottom: 10px;
  font-weight: 500;
  line-height: calc(19 / 16);
  text-align: center;
  background-color: var(--main-background);
  color: var(--secondary-title-color);
}

.card-content-team__text {
  margin-bottom: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  color: var(--secondary-text-color);
}

/* Постоянные клиенты */
.clients {
  padding: 94px 0px;
}

.clients__title {
  height: 42px;
  margin: 0 auto;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
}

.clients-list {
  display: flex;
}

.clients-list__item {
  width: 170px;
  height: 92px;
}

.clients-list__item:not(:last-child) {
  margin-right: 30px;
}

.clients-list__link {
  display: flex;
  color: var(--svg-bgn);
  border: 1px solid;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__link:hover, .clients-list__link:focus {
  color: var(--third-text-color);
  border: 1px solid;
}

.clients-list__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

/* Портфолио */
.card {
  padding-top: 94px;
  padding-bottom: 94px;
}

.card-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.card-list__item:not(:last-child) {
  margin-right: 8px;
}

.card-items {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.card-items__item {
  flex-basis: calc(100% / 3 - 30px);
  margin-top: 30px;
  margin-left: 30px;
}

.card-items__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-items__link:hover, .card-items__link:focus {
  box-shadow: var(--card-portfolio-shadow);
}

.card-items__link:hover .card-top__text,
.card-items__link:focus .card-top__text {
  transform: translateY(0);
}

.card-list__card-btn.btn.active {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  background: var(--third-text-color);
  color: var(--primary-title-color);
}

.card-list__card-btn {
  padding: 6px 22px;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  background: var(--secondary-background);
  color: var(--secondary-title-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-list__card-btn:hover, .card-list__card-btn:focus, .card-list__card-btn:active {
  background: var(--third-background);
  color: var(--primary-title-color);
  box-shadow: var(--card-portfolio-shadow);
}

.card-top {
  position: relative;
  overflow: hidden;
}

.card-top__text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
  background: var(--card-bgc);
}

.card-content__text {
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.87;
  color: var(--secondary-text-color);
}

.card-content {
  max-width: 370px;
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.card-content__subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-title-color);
}

/*Футер */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--primary-background);
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-left {
  margin-right: 70px;
}

.footer-list__link {
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list__link:hover, .footer-list__link:focus, .footer-list__link:active {
  color: var(--third-text-color);
}

.footer-left__text {
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-title-color);
}

.footer-list__item {
  margin-bottom: 9px;
}

.footer-left__logo {
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  color: var(--third-text-color);
}

.footer-left__logo-span {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  color: var(--primary-title-color);
}

.footer-left__address {
  font-style: normal;
}

.footer-right {
  margin-right: auto;
  align-items: center;
}

.join {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--primary-title-color);
}

.footer-social-list {
  display: flex;
  justify-content: center;
}

.footer-social-list__social-item {
  width: 44px;
  height: 44px;
}

.footer-social-list__social-item + .footer-social-list__social-item {
  margin-left: 10px;
}

.footer-social-list__link {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list__link:hover, .footer-social-list__link:focus {
  background-color: var(--third-background);
}

.footer-social-icon {
  width: 20px;
  height: 20px;
  fill: var(--main-background);
}

.subscribe {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-title-color);
}

.form-footer {
  display: flex;
}

.form-footer__input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding-left: 16px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.07;
  letter-spacing: 0.03em;
  background-color: var(--primary-background);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-footer__input:focus, .form-footer__input:hover {
  border: 1px solid var(--third-text-color);
}

.form-footer__btn {
  position: relative;
  display: flex;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  padding: 10px 62px 10px 29px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  background-color: var(--third-background);
  color: var(--primary-title-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-footer__btn:hover, .form-footer__btn:focus {
  box-shadow: var(--card-portfolio-shadow);
  background-color: #20abfc;
}

.form-footer__input {
  color: #ffffff;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon {
  position: absolute;
  top: 13px;
  right: 28px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms ease-in-out, visibility 300ms ease-in-out;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  padding: 40px;
  position: relative;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  border-radius: 4px;
  background-color: var(--main-background);
  box-shadow: var(--card-portfolio-shadow);
}

.modal__close-btn {
  display: flex;
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-btn:hover, .modal__close-btn:focus {
  border: 1px solid var(--third-text-color);
}

.modal__icon {
  width: 30px;
  height: 30px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-btn:focus .modal__icon,
.modal__close-btn:hover .modal__icon {
  fill: var(--third-background);
}

.modal__title {
  margin-bottom: 12px;
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  align-items: center;
  letter-spacing: 0.03em;
}

.form-modal__field {
  display: flex;
  flex-direction: column;
  position: relative;
}

.form-modal__field:not(:last-child) {
  margin-bottom: 10px;
}

.form-modal__label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.form-modal__input {
  width: 100%;
  height: 40px;
  padding: 11px 42px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  background: transparent;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal__input:focus, .form-modal__input:hover {
  border-color: var(--third-text-color);
}

.input-icon {
  position: absolute;
  left: 12px;
  bottom: 11px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal__input:focus + .input-icon,
.form-modal__input:hover + .input-icon {
  fill: var(--third-background);
}

.form-modal__textarea-comment {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  resize: none;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal__textarea-comment:focus, .form-modal__textarea-comment:hover {
  border-color: var(--third-text-color);
}

.form-modal__textarea-comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-modal__label-checkbox {
  display: flex;
  margin-top: 20px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.46;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.form-modal__label-checkbox span {
  display: flex;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid var(--secondary-title-color);
  border-radius: 2px;
  align-items: center;
  justify-content: center;
  background-origin: content-box;
  outline: none;
}

.form-modal__label-checkbox span:focus, .form-modal__label-checkbox span:hover {
  border: 2px solid var(--third-text-color);
}

.form-modal__checkbox:checked + .form-modal__label-checkbox span {
  background-color: var(--third-background);
  border: none;
}

.form-modal__contract-link {
  color: var(--third-text-color);
}

.form-modal__send-btn {
  display: flex;
  width: 200px;
  height: 50px;
  padding: 10px 55px 10px 56px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  background-color: var(--third-background);
  color: var(--primary-title-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal__send-btn:hover, .form-modal__send-btn:focus {
  box-shadow: var(--card-portfolio-shadow);
  background-color: var(--fourth-background);
}
/*# sourceMappingURL=main.css.map */