body {
  font-family: "Roboto", sans-serif;
  background: var(--main-background);
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.list {
  list-style: none;
}

.link {
  display: flex;
  text-decoration: none;
}

.btn {
  border: none;
}
